<div id="wrap" class="main thin-page">

    <div class="container">
        <div class="page-content">
            <div class="page-header">
                <img src="static/survey/assets/img/oceanspaces-logo.png" class="center oceanspaces-logo logo" />
                <ng-switch on="user">
                  <h1 class="ost-title" ng-show="user.is_staff">Monitoring Surveys</h1>
                  <h1 class="ost-title" ng-show="!user.is_staff">North Central Coast Monitoring Survey</h1>
                </ng-switch
                <p></p>
            </div>
            <div class="loading-indicator" ng-show="working">
                <div class="bar">
                    <i class="sphere"></i>
                </div>
            </div>
            <div ng-hide="!user.is_staff">
                <button type="button" class="btn btn-main btn-default btn-lg btn-block" ng-click="newReportOnline('monitoring-project')">Take Central Coast Survey</button>
            </div>
            <div ng-hide="!user || working">
                <button type="button" class="btn btn-main btn-default btn-lg btn-block" ng-click="newReportOnline('ncc-monitoring')">Take North Central Coast Survey</button>
                <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/history">Revisit Surveys</a>
                <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/about">About</a>
                <button type="button" class="btn btn-main btn-default btn-lg btn-block" ng-click="logout()">Logout</button>
            </div>
        </div>

        <!-- <p class="pull-right">{{stage}}/{{version}}</p> -->
    </div>
    <div id="map" mobile-map ng-show="user"></div>
    <div class="alert-notice" ng-show="message">
        <div class="pull-left">{{ message }}</div>
        <button class="btn btn-default btn-outline-inverse pull-right" ng-tap="dismissMessage()">ok</button>
    </div>
    <div class="alert-notice" ng-show="update">
        <div>An update ({{newVersion}}) is available for Digital Deck.</div>
        <div class="pull-right">
            <button class="btn btn-default btn-outline-inverse" ng-tap="dismissMessage()">not now</button>
            <button class="btn btn-default btn-outline-inverse" ng-tap="updateApp()">update</button>
        </div>
    </div>

</div>
