<div class="print-hide" id="sidenav" ng-style="style()" full-height>
    <a href="http://oceanspaces.org">
        <img src="/static/survey/assets/img/ost/oceanspaces_logo.png">
    </a>
    <div class="stats" ng-controller="DashStatsCtrl" ng-show="totals.completes">
        <div class="row">
            <div id="side_total" class="col-xs-12 box">
                <h1>{{totals.completes || 0}}</h1>
                <p>Total Projects</p>
            </div>
        </div>
        <div class="row">
            <div id="side_started" class="col-xs-6 box">
                <h1>{{totals.num_orgs || 0}}</h1>
                <p>Participants</p>
            </div>
            <div id="side_completed" class="col-xs-6 box">
                <h1>{{totals.total_sites || 0}}</h1>
                <p>Total Sites</p>
            </div>
        </div>
    </div>

    <div respondentsearch ></div>
    <div class="sidebar_nav">
        <ul class="menu nav">
            
            <li class="leaf">
                <a ng-class="{'active': activePage == 'welcome'}" href="#/welcome">Welcome</a>
            </li>
            <li class="leaf" ng-class="{'current': activePage == 'overview'}">
                <a ng-class="{'active': activePage == 'overview'}" 
                   href="#/overview"
                   >Monitoring Activities</a>
                <div class="control" ng-cloak ng-show="activePage == 'overview'">
                    <span help-modal class="center" ng-show="activePage == 'overview'"></span>
                     <div dash-filter 
                         class=""
                         placeholder-text="'Filter by Ecosystem'"
                         allow-multi-select="true"
                         survey-slug="'ncc-monitoring'"
                         question-slug="'ncc-ecosystem-features'"
                         selected-values="filters.ecosystemFeatures"
                         ></div>
                </div>
            </li>
            <li>
                <a ng-class="{'active': activePage == 'explore'}" href="#/explore/monitoring-project">Community Overview - CC</a>
            </li>

            <li>
                <a ng-class="{'active': activePage == 'explore'}" href="#/explore/ncc-monitoring">Community Overview - NCC</a>
            </li>

            <li ng-show="user.is_superuser">
                <a ng-class="{'active': activePage == 'responses'}" href="#/RespondentList">Projects</a>
            </li>

            <li ng-show="user.is_staff">
                <a ng-class="{'active': activePage == 'download'}" href="/reports/full-survey-data/monitoring-project">Download CC Data</a>
            </li>

            <li ng-show="user.is_staff">
                <a ng-class="{'active': activePage == 'download'}" href="/reports/full-survey-data/ncc-monitoring">Download NCC Data</a>
            </li>

            <li class="leaf">
                <a ng-class="{'active': activePage == 'about'}" href="#/about/">About</a>
            </li>

        </ul>
        
    </div>
</div>