<h3>How Will My Responses Be Used?</h3>
<p>Thank you for taking this survey! Your responses will help to build a cost-effective, partnerships-based marine protected area (MPA) monitoring program in the North Central Coast. Here are a few important things to know:</p>

<ul>
<li><strong>Most of the information you share with us through this survey will be publicly-accessible</strong> in the North Central Coast Survey Dashboard on OceanSpaces.org, available in Fall 2015. This will give you and others a chance to explore survey results.</li>

<li>Responses that will not be included in the public dashboard are indicated by the ‘Not Public’ icon: <strong><i class="icon icon-eye-close not-public-icon" ng-show="true"></i></strong></li>

<li>We may share any of your responses with our state partners and funders as part of the process of building an MPA monitoring program in the North Central Coast.</li>
</ul>

<p>Please contact Dina Liebowitz at <a href="mailto:dina.liebowitz@oceansciencetrust.org">dina.liebowitz@oceansciencetrust.org</a> with any questions about the purpose of the survey responses and MPA monitoring in the North Central Coast.</p>

<!--<p>Please contact <a href="mailto:surveysupport@oceanspaces.org">surveysupport@oceanspaces.org</a> with any technical questions about this survey.</p>-->
